<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

    
</head>
<body>
    <style>.box {  }; </style>
    <div class="box">
                <div id="9c558c35ed334a9da49afbdf08b248e9" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_9c558c35ed334a9da49afbdf08b248e9 = echarts.init(
            document.getElementById('9c558c35ed334a9da49afbdf08b248e9'), 'white', {renderer: 'canvas'});
        var option_9c558c35ed334a9da49afbdf08b248e9 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "\u4eba\u6570",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "step": false,
            "data": [
                [
                    "95\u4ee5\u4e0a",
                    2
                ],
                [
                    "90\u523095",
                    4
                ],
                [
                    "85\u523090",
                    6
                ],
                [
                    "80\u523085",
                    4
                ],
                [
                    "75\u523080",
                    2
                ],
                [
                    "70\u523075",
                    5
                ],
                [
                    "65\u523070",
                    3
                ],
                [
                    "60\u523065",
                    4
                ],
                [
                    "60\u4ee5\u4e0b",
                    0
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        }
    ],
    "legend": [
        {
            "data": [
                "\u4eba\u6570"
            ],
            "selected": {
                "\u4eba\u6570": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "show": true,
                "position": "top",
                "margin": 8,
                "interval": 0,
                "fontSize": 10
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "95\u4ee5\u4e0a",
                "90\u523095",
                "85\u523090",
                "80\u523085",
                "75\u523080",
                "70\u523075",
                "65\u523070",
                "60\u523065",
                "60\u4ee5\u4e0b"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": "{value}\u4eba"
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u673a\u5668\u5b66\u4e60\u6210\u7ee9\u5206\u5e03\u56fe",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_9c558c35ed334a9da49afbdf08b248e9.setOption(option_9c558c35ed334a9da49afbdf08b248e9);
    </script>
<br/>                <div id="ed0a4d55f1924c0495e2c32060ef06ac" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_ed0a4d55f1924c0495e2c32060ef06ac = echarts.init(
            document.getElementById('ed0a4d55f1924c0495e2c32060ef06ac'), 'white', {renderer: 'canvas'});
        var option_ed0a4d55f1924c0495e2c32060ef06ac = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "\u4eba\u6570",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "step": false,
            "data": [
                [
                    "95\u4ee5\u4e0a",
                    0
                ],
                [
                    "90\u523095",
                    0
                ],
                [
                    "85\u523090",
                    2
                ],
                [
                    "80\u523085",
                    2
                ],
                [
                    "75\u523080",
                    1
                ],
                [
                    "70\u523075",
                    1
                ],
                [
                    "65\u523070",
                    0
                ],
                [
                    "60\u523065",
                    4
                ],
                [
                    "60\u4ee5\u4e0b",
                    0
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        }
    ],
    "legend": [
        {
            "data": [
                "\u4eba\u6570"
            ],
            "selected": {
                "\u4eba\u6570": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "show": true,
                "position": "top",
                "margin": 8,
                "interval": 0,
                "fontSize": 10
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "95\u4ee5\u4e0a",
                "90\u523095",
                "85\u523090",
                "80\u523085",
                "75\u523080",
                "70\u523075",
                "65\u523070",
                "60\u523065",
                "60\u4ee5\u4e0b"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": "{value}\u4eba"
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u673a\u5668\u5b66\u4e60\u73ed\u7ea7\u662f\uff1a\u8ba1\u7b97\u673a\u4e8c\u73ed\u6210\u7ee9\u5206\u5e03\u56fe",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_ed0a4d55f1924c0495e2c32060ef06ac.setOption(option_ed0a4d55f1924c0495e2c32060ef06ac);
    </script>
<br/>                <div id="b55f1576b50f4c5886802d4020ca747d" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_b55f1576b50f4c5886802d4020ca747d = echarts.init(
            document.getElementById('b55f1576b50f4c5886802d4020ca747d'), 'white', {renderer: 'canvas'});
        var option_b55f1576b50f4c5886802d4020ca747d = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "\u4eba\u6570",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "step": false,
            "data": [
                [
                    "95\u4ee5\u4e0a",
                    1
                ],
                [
                    "90\u523095",
                    1
                ],
                [
                    "85\u523090",
                    1
                ],
                [
                    "80\u523085",
                    0
                ],
                [
                    "75\u523080",
                    1
                ],
                [
                    "70\u523075",
                    4
                ],
                [
                    "65\u523070",
                    2
                ],
                [
                    "60\u523065",
                    0
                ],
                [
                    "60\u4ee5\u4e0b",
                    0
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        }
    ],
    "legend": [
        {
            "data": [
                "\u4eba\u6570"
            ],
            "selected": {
                "\u4eba\u6570": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "show": true,
                "position": "top",
                "margin": 8,
                "interval": 0,
                "fontSize": 10
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "95\u4ee5\u4e0a",
                "90\u523095",
                "85\u523090",
                "80\u523085",
                "75\u523080",
                "70\u523075",
                "65\u523070",
                "60\u523065",
                "60\u4ee5\u4e0b"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": "{value}\u4eba"
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u673a\u5668\u5b66\u4e60\u73ed\u7ea7\u662f\uff1a\u8ba1\u7b97\u673a\u4e09\u73ed\u6210\u7ee9\u5206\u5e03\u56fe",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_b55f1576b50f4c5886802d4020ca747d.setOption(option_b55f1576b50f4c5886802d4020ca747d);
    </script>
<br/>                <div id="3e040cfbcb3c4cdd908866ed80d67760" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_3e040cfbcb3c4cdd908866ed80d67760 = echarts.init(
            document.getElementById('3e040cfbcb3c4cdd908866ed80d67760'), 'white', {renderer: 'canvas'});
        var option_3e040cfbcb3c4cdd908866ed80d67760 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "\u4eba\u6570",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "step": false,
            "data": [
                [
                    "95\u4ee5\u4e0a",
                    1
                ],
                [
                    "90\u523095",
                    3
                ],
                [
                    "85\u523090",
                    3
                ],
                [
                    "80\u523085",
                    2
                ],
                [
                    "75\u523080",
                    0
                ],
                [
                    "70\u523075",
                    0
                ],
                [
                    "65\u523070",
                    1
                ],
                [
                    "60\u523065",
                    0
                ],
                [
                    "60\u4ee5\u4e0b",
                    0
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        }
    ],
    "legend": [
        {
            "data": [
                "\u4eba\u6570"
            ],
            "selected": {
                "\u4eba\u6570": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "show": true,
                "position": "top",
                "margin": 8,
                "interval": 0,
                "fontSize": 10
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "95\u4ee5\u4e0a",
                "90\u523095",
                "85\u523090",
                "80\u523085",
                "75\u523080",
                "70\u523075",
                "65\u523070",
                "60\u523065",
                "60\u4ee5\u4e0b"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": "{value}\u4eba"
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u673a\u5668\u5b66\u4e60\u73ed\u7ea7\u662f\uff1a\u8ba1\u7b97\u673a\u4e00\u73ed\u6210\u7ee9\u5206\u5e03\u56fe",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_3e040cfbcb3c4cdd908866ed80d67760.setOption(option_3e040cfbcb3c4cdd908866ed80d67760);
    </script>
<br/>    </div>
    <script>
    </script>
</body>
</html>
